html, body, #root>div {
    padding:0px,
    
   /* background-image: url(../src/login_clouds.jpg); */
   /* background-repeat: no-repeat;
   /* padding:0px; */ 
   
    /* background-image: linear-gradient(to top, #3f616d, #3e6a79, #3d7285, #3b7b92, #38849f, #36809a, #347d96, #327991, #30687a, #2e5865, #2b4850, #27383d); */
 } 
main {
    flex-grow: 0;
    padding:0px,

    
    
  }





 /* .cloud {
    background-image: url("../src/login_clouds.jpg") ;
    /* Full height */
    /* height: 100%;  */

    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover!important; */
 
 
   
   
  /* } */ 


  
